@tailwind base;
@tailwind components;
@tailwind utilities;

#wpcontent {
  @apply rgnmhn-p-0;
  font-size: 15px;
}
body {
}

.notice {
  @apply rgnmhn-m-0 rgnmhn-mb-4;
}

input[type="radio"]:checked + label {
  @apply rgnmhn-bg-blue-500 rgnmhn-text-white;
}

.wp-picker-container {
    position: relative;
}
.wp-picker-holder {
    position: absolute;
    top: 100%; /* Position it right below the input field */
    left: 0;
    z-index: 999; /* Ensure it's on top of other elements */
}

.rgnmhn-tab-content {
  @apply rgnmhn-hidden;
}

.rgnmhn-tab-content.rgnmhn-content-active {
  @apply rgnmhn-block;
}

.rgnmhn-tab-active {
  @apply rgnmhn-bg-blue-500 rgnmhn-text-white;
}

.rgnmhn-switch {
  @apply rgnmhn-bg-zinc-200;
}

.rgnmhn-switch::before {
  content: "";
  @apply rgnmhn-absolute rgnmhn-bg-zinc-300 rgnmhn-w-4 rgnmhn-h-4 rgnmhn-block rgnmhn-rounded rgnmhn-left-0 rgnmhn-transition-all;
}

input[type="checkbox"]:checked + label .rgnmhn-switch::before {
  @apply rgnmhn-left-5 rgnmhn-bg-blue-500;
}

input[type="checkbox"]:checked + label .rgnmhn-switch {
  @apply rgnmhn-bg-blue-100;
}
